---
import MainLayout from "../../layouts/MainLayout.astro";
import ImageSlider from "../../components/Slider";

// from SUPABASE
// const response = await fetch("http://localhost:5432");
// const data = await response.json();
// console.log(data);

// const images = data.dbPortofolio.data[0].images;
// const content = data.dbPortofolio.data[0];

// local json
const data = (await import("../../../public/data/content.json")).default[0];
const images = data.images;
const content = data;
---

<MainLayout>
  <ImageSlider client:load images={images ? images : ""} />
  <section class="mt-4">
    <div class="flex justify-between">
      <div class="flex-1">
        <small class="text-gray-500 block text-xs">Published at</small>
        <p class="text-gray-700 font-medium">{content.created_at}</p>
      </div>
      <div class="flex-1">
        <small class="text-gray-500 block text-xs">Location</small>
        <p class="text-gray-700 font-medium">{content.location}</p>
      </div>
    </div>
    <div class="mt-6 w-full sm:w-3/4">
      <h1 class="font-semibold text-base mb-4">{content.title}</h1>
      <p>
        {content.description}
      </p>
    </div>
  </section>
</MainLayout>
