---
import NavFiltertab from "../components/NavFiltertab.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/my-portfolio/man.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ardi Panda</title>
  </head>
  <body class="h-[2000px]">
    <main class="px-4 flex">
      <!-- SIDE MENU -->
      <aside class="sm:block hidden w-full max-w-[25vw]">
        <section
          class="container sm:block hidden w-full max-w-[20vw] text-xs h-screen fixed"
        >
          <div class="w-12 pt-10">
            <img
              src="/my-portfolio/profile.png"
              class="rounded-full"
              alt="profile-image"
            />
          </div>
          <div class="mt-8">
            <p>Ardi Panda</p>
            <p>B. 1996 in Madiun. Based in Gresik, ID.</p>
            <br />
            <p>Freelance Fullstack Dev</p>
          </div>
          <div class="grid grid-cols-2 sm:grid-cols-1 mt-6 gap-y-2">
            <div class="flex flex-col">
              <a href="/my-portfolio/about">&rarr; About Me</a>
              <a href="/my-portfolio/contact">&rarr; Contact</a>
              <a href="/my-portfolio/contact">&rarr; RSS</a>
            </div>
            <div class="flex flex-col">
              <a href="/my-portfolio/contact">&nearr; Instagram</a>
              <a href="/my-portfolio/contact">&nearr; Github</a>
              <a href="/my-portfolio/contact">&nearr; Read CV</a>
            </div>
          </div>
          <div class="absolute bottom-12">&copy; 2024</div>
        </section>
      </aside>
      <section class="container w-full mt-32 sm:mt-16 text-sm">
        <!-- MOBILE NAV -->
        <header
          class="sm:hidden block fixed top-8 left-6 right-6 z-10 bg-white/60 backdrop-blur-md rounded-3xl p-2 border border-gray-200 text-xs"
        >
          <div class="flex justify-between">
            <div class="w-8">
              <img
                src="/my-portfolio/profile.png"
                class="rounded-full"
                alt="profile-image"
              />
            </div>
            <button id="toggle-button">
              <svg
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="#282828"
                id="icon-svg"
              >
                <path
                  d="M13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12Z"
                >
                </path>
                <path
                  d="M9 12C9 12.5523 8.55228 13 8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11C8.55228 11 9 11.4477 9 12Z"
                >
                </path>
                <path
                  d="M17 12C17 12.5523 16.5523 13 16 13C15.4477 13 15 12.5523 15 12C15 11.4477 15.4477 11 16 11C16.5523 11 17 11.4477 17 12Z"
                >
                </path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="#282828"
                viewBox="0 0 16 16"
                id="x-icon"
                class="hidden"
              >
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
                ></path>
              </svg>
            </button>
          </div>
          <div class="hidden p-2" id="header-item">
            <div class="mt-4">
              <p>Ardi Panda</p>
              <p>B. 1996 in Madiun. Based in Gresik, ID.</p>
              <br />
              <p>Freelance Fullstack Dev</p>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-1 mt-6">
              <div class="flex flex-col">
                <a href="/my-portfolio/about">&rarr; About Me</a>
                <a href="/my-portfolio/contact">&rarr; Contact</a>
                <a href="/my-portfolio/contact">&rarr; RSS</a>
              </div>
              <div class="flex flex-col">
                <a href="/my-portfolio/contact">&nearr; Instagram</a>
                <a href="/my-portfolio/contact">&nearr; Github</a>
                <a href="/my-portfolio/contact">&nearr; Read CV</a>
              </div>
            </div>
          </div>
        </header>

        <!-- MAIN RIGHT -->
        <div class="w-full" id="main-right">
          <div class="sm:w-1/2 w-full">
            <p class="leading-6">
              Hi, my name is Ardi Panda. I am a software engineer and designer
              living in Gresik. I work remotely and travel often, bringing my
              camera along with me. Sometimes I do photography. Here's what i'm
              up to now.
            </p>
            <p class="text-gray-500 text-xs italic mt-3">
              Updated on May 25, 2024
            </p>
          </div>
          <div class="mt-12">
            <NavFiltertab />
          </div>
        </div>
      </section>
    </main>
    <script>
      const toggleButton = document.getElementById("toggle-button");
      const headerItem = document.getElementById("header-item");
      const iconSvg = document.getElementById("icon-svg");
      const xIcon = document.getElementById("x-icon");
      toggleButton.addEventListener("click", () => {
        headerItem.classList.toggle("hidden");
        iconSvg.classList.toggle("hidden");
        xIcon.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
