---
import MainLayout from "../layouts/MainLayout.astro";
import NavFiltertab from "../components/NavFiltertab.astro";
---

<MainLayout>
  <!-- MAIN RIGHT -->
  <div class="w-full" id="main-right">
    <div class="sm:w-1/2 w-full">
      <p class="leading-6">
        Hi, my name is Ardi Panda. I am a software engineer and designer living
        in Gresik. I work remotely and travel often, bringing my camera along
        with me. Sometimes I do photography. Here's what i'm up to now.
      </p>
      <p class="text-gray-500 text-xs italic mt-3">
        {
          new Date("25 May 2024").toLocaleDateString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })
        }
      </p>
    </div>
    <div class="mt-12">
      <NavFiltertab />
    </div>
  </div>
</MainLayout>
